{% extends "index.html" %}

{% block content %}

<style>
    h1 {
        font-size: xx-large;
    }

    .mr-b {
        margin-bottom: 5px;
    }

    .b-br {
        border: 1px solid gray; 
        border-radius: 3px;
    }

    .highlighted2 {
        background-color: yellow;
    }

    .highlighted1 {
        background-color: white;
        
    }

    .highlighted3 {
        background-color: rgb(202, 18, 239);
    }

    .d-inline {
        display: inline-block;
    }
</style>

<div class="row m-lg-1">
    <div class="col-md-2">
    </div>

    <div class="col-md-8 text-center">
        <div class="row justify-content-center" style="padding: 0; margin: 0;">
            <h1 style="word-wrap: break-word;">Azərbaycan Dövlət İqtisad Üniversiteti</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6" style="background-color: black; height: 1px;">

            </div>
        </div>
        <div class="row justify-content-center" style="padding: 0; margin: 0;">
            <h1 style="word-wrap: break-word;">Biznes və Menecment fakültəsi</h1>
        </div>
    </div>
    <div class="col-md-2">
        <img style="height: 110px; width: 110px;" src="https://apa.az/storage/news/2024/january/17/resize/65a77ac0320d265a77ac0320d3170547474965a77ac0320ce65a77ac0320d0.jpg"
            alt="logo"> <!--https://upload.wikimedia.org/wikipedia/az/6/61/UNEC_1.png -->
    </div>
</div>


<div class="container" style="margin-top: 5px;">
    <h1 class="text-center">Dərs Cədvəli Səhifəsinin İstifadəsi Haqqında</h1>
</div>

<div class="container">

    <div class="row">
        <h4>Ümumi:</h4>
    </div>

    <div class="row">
        <div class="col-md-10">
            <ul>
                <li>
                    <h6>Daha çox dərs göstər <strong>∨</strong> - Hər saat intervalı və həftənin günləri ilk görünümdə 2 dərs
                    görünməsi üçün limitlənib. Əgər bütün dərsləri görmək istəyirsinizsə, "Daha çox dərs göstər" düyməsinə klik edin.</h6>
                </li>
                <li>
                    <h6>Əgər nümunədəki kimi dərslər solğun(bozarmış) görünüşdədirsə, deməli həmin dərsin müddəti başa çatıb.</h6>
                </li>
                <li>
                    <h6>"Ətraflı" düyməsi - ilk görünüm üçün dərslərin məlumatları limitlənib. Əgər dərsin bütün məlumatlarını görmək
                    istəyirsinizsə, "Ətraflı" düyməsinə klik edin.</h6> 
                </li>
                <li>
                    <h6>Nümunədəki dərs sütunun sətirləri müvafiq olaraq bu mənayı daşımaqdadır:</h6>
                    <ul>
                        <li class="mr-b">
                            <div class="text-center b-br col-lg-12" style="display: inline-block; width: 130px;">
                                08:30-09:50
                            </div>
                            &nbsp;- Saat İntervalı
                        </li>
                        <li class="mr-b">
                            <div class="text-center b-br col-lg-12" style="display: inline-block; width: 130px;">
                                576
                            </div>
                            &nbsp;- Qrup Nömrəsi
                        </li>
                        <li class="mr-b">
                            <div class="text-center b-br col-lg-12" style="display: inline-block; width: 130px;">
                                Samir Əlizadə
                            </div>
                            &nbsp;&nbsp;- Müəllim
                        </li>
                        <li class="mr-b">
                            <div class="text-center b-br col-lg-12" style="display: inline-block; width: 130px;">
                                İKT
                            </div>
                            &nbsp;- Dərsin Adı
                        </li>
                        <li class="mr-b">
                            <div class="text-center b-br col-lg-12" style="display: inline-block; width: 130px;">
                                100
                            </div>
                            &nbsp;- Auditoriyanın Nömrəsi
                        </li>
                        <li class="mr-b">
                            <div class="text-center b-br col-lg-12" style="display: inline-block; width: 130px;">
                                Seminar
                            </div>
                                &nbsp;- Dərsin Növü
                        </li>
                        <li class="mr-b">
                            <div class="text-center b-br col-lg-12" style="display: inline-block; width: 130px;">
                                20/03/2024
                            </div>
                                &nbsp;- Tarix
                        </li>
                        <li class="mr-b">
                            <div class="text-center b-br col-lg-12" style="display: inline-block; width: 130px;">
                                Üst Həftə
                            </div>
                            &nbsp;- Dərs Həftəsi
                        </li>
                    </ul>
                </li>
                <li>
                    <h6>Dərslərin altındakı rənglərin mənası:</h6>
                    <ul>
                        <li class="mr-b">
                            Auditoriyaların Növləridir.
                        </li>
                        <li class="mr-b">
                            <div class="highlighted1 d-inline b-br col-lg-12">
                                &nbsp;
                            </div>
                            &nbsp;- Adi auditoriya
                        </li>
                        <li class="mr-b">
                            <div class="highlighted2 d-inline b-br col-lg-12">
                                &nbsp;
                            </div>
                            &nbsp;- Hibrid auditoriya
                        </li>
                        <li class="mr-b">
                            <div class="highlighted3 d-inline b-br col-lg-12">
                                &nbsp;
                            </div>
                            &nbsp;- Laboratoriya auditoriya
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <div class="row no-gutters">
                <div class="col">
                    <div class="card br20" style="background-color: lightgray; opacity: 0.7;">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                08:30-09:50
                            </div>
                            <div class="row justify-content-center align-items-center">
                                576
                            </div>
                            <div class="row justify-content-center align-items-center">
                                Samir Əlizadə
                            </div>
                            <div class="row justify-content-center align-items-center">
                                İKT
                            </div>
                            <div class="row justify-content-center align-items-center">
                                100
                                &nbsp; <i class="fa-solid fa-info" data-toggle="tooltip" data-placement="bottom"
                                    title="Tutum: {{lesson.classroom.class_capacity}} - {{lesson.classroom.classroom_network_types}}"></i>
                            </div>
                            <div class="more-details" id="details-{{ lesson.id }}" style="display: none;">
                                <div class="row justify-content-center align-items-center">
                                    Seminar
                                </div>
                                <div class="row justify-content-center align-items-center">
                                    20/03/2024
                                </div>
                                <div class="row justify-content-center align-items-center">
                                    Üst həftə
                                </div>
                                <div class="row">
                                    <div class="highlighted3 col-md-12">&nbsp;</div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center"
                                style="margin-bottom: 0; height: 24px;">
                                <p id="toggleDetails" class="cursor-pointer" style="cursor: pointer;"
                                    data-details-id="{{ lesson.id }}">
                                    Ətraflı<strong>∨</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<script>
    // Details
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButtons = document.querySelectorAll("[id^='toggleDetails']");

        toggleButtons.forEach(function (toggleButton) {
            toggleButton.addEventListener("click", function () {
                const lessonId = toggleButton.dataset.detailsId;
                const details = document.getElementById("details-" + lessonId);

                if (details.style.display === "none") {
                    details.style.display = "block";
                    toggleButton.innerHTML = 'Kiçilt<strong>∧</strong>';
                } else {
                    details.style.display = "none";
                    toggleButton.innerHTML = 'Ətraflı<strong>∨</strong>';
                }
            });
        });
    });
</script>


{% endblock content %}